<?xml version="1.0"?>
<model>
  <name>spherical_object</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Elena d'Agostino</name>
    <email>elen.dagostino@studenti.unina.it</email>
  </author>
  <description>A blue spherical object with a radius of 15 cm.</description>
</model>
